{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name figwheel.connect.devcards, :imports nil, :requires {devcards.core devcards.core, try-devcards-rum.core try-devcards-rum.core, figwheel.client figwheel.client, figwheel.client.utils figwheel.client.utils}, :uses nil, :require-macros {devcards.core devcards.core}, :cljs.analyzer/constants {:seen #{:build-id :websocket-url :devcards :open-urls}, :order [:devcards :open-urls :build-id :websocket-url]}, :doc nil}