<div class="col-md-4">
  <div class="list-group">
    {{#each model as |band|}}
      {{#link-to "bands.band.songs" band class="list-group-item band-link" }}
        {{band.name}}
        <span class="pointer glyphicon glyphicon-chevron-right"></span>
      {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  {{outlet}}
</div>
