<ul class="list-group songs">
  {{#each model as |song|}}
    <li class="list-group-item">
      {{song.title}} by <em>{{song.band}}</em>
      <span class="rating pull-right">{{song.rating}}</span>
    </li>
  {{/each}}
</ul>
