<h1>Listing events</h1>

<table border='1'>
  <tr>
    <th>Name</th>
    <th>Start at</th>
    <th>Description</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event %></td>
    <td><%=h event.start_at.to_s(:short) %></td>
    <td><%=h event.description %></td>

  </tr>
<% end %>
</table>
