%h2
  Statistics

.task-stats
  .task-stat
    %label
      Yesterday
    .quantity
      23

  .task-stat
    %label
      Last Week
    .quantity
      68

  .task-stat
    %label
      Unfinished
    .quantity
      7
