%form{:action => '/create', :method => 'post'}
  %label
    Title
  %input{:name => 'title', :type => 'textfield'}
  %br
  %label
    Filename
  %input{:name => 'filename', :type => 'textfield'}
  %br
  %input{:name => 'Add Photo', :type => 'submit'}
  
