<html>
  <head>
    <title>Static Page</title>
  </head>
  <body>
    <h2>Hello <%= greet_name %> </h2>
     <form method="post" action="/change">
       <input type="text" name="name"/>
       <input type="submit" value="Change Name"/>
     </form>
  </body>

</html>
