div.spacer {  
  background-color: #8FC73E;  
  height: 1em;  
}
  
div#navbar {  
  background-color: #8FC73E;  
  padding: 10px 0;  
}  
div#footer {  
  background-color: #e5e5e6;  
}  
div#navbar ul {
	list-style: none;
	display: block;
	margin: 0 10px;
}

div#navbar ul li {
	float: left;
	margin: 0 1.5em;
	font: bold 1em Arial;
}

div.top_section div {
	border: solid 10px #e5e5e6;
	height: 280px;
}

div.top_section div p {
	margin: 10px;
}
