<ul class="list-group songs">
  {{#each model.songs as |song|}}
    <li class="list-group-item song">
      {{song.title}}
      <span class="rating pull-right">{{song.rating}}</span>
    </li>
  {{/each}}
</ul> 
